doctype html
html(lang='en')
  head
    title Staff Directory
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
      table.ui.celled img { display: inline-block; }
      footer { margin: 35px 0 15px 0; text-align: center }
  h1 Month Wise
form#formmonth(name='month' method='get' action='/month/')
  label(for='birthday') Start Date:
  input#startdate(type='date' name='startdate')
  label(for='birthday') End Date:
  input#enddate(type='date' name='enddate')
  button#btnSubmit(type='submit') Submit

  body
    main#main
    h1.ui.center.aligned.header Staff Directory
    .ui.container
      table.ui.celled.table.center.aligned
        thead
          tr
            th Track
            th Planned
            th Actual
            tr 
            th Agile
            th 
            th
            tr 
            th AutomationTool
            th 
            th 
          tr 
          th ProgrammingLanguage
          th 
          th 
          tr 
          th DevOpsProfessional
          th 
          th
        tbody
          

        tfoot
          tr
            th(colspan='6')
    footer
      p © #{new Date().getFullYear()} My Company